<?xml version="1.0"?>
<launch>

  <arg name="max_speed" default="0" />

  <!-- Open camera -->
  <!-- <include file="$(find usb_cam)/launch/colin_cam.launch"/>-->

  <!-- Start communication with xbox controller -->
  <node pkg="joy" type="joy_node" name="joy_node"/>

  <!-- Start serial communication with arduino -->
  <node pkg="autocone_colin_serial_communication" type="serial_communication.py" name="arduino_serial_comm" output="screen"/>

</launch>
